.back {
  grid-template-rows: 2rem 5rem 1fr auto auto 4.25rem 1rem 2rem;
}

.back .image {
  grid-row: 2 / 8;
}

.back .rule-right1 {
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}
.back .rule-right2 {
  grid-column: 2 / 3;
  grid-row: 5 / 8;
}
.back .rule-top {
  grid-row: 7 / 8;
}

.back .title {
  grid-row: 4 / 5;
}
.back .subtitle {
  grid-row: 4 / 5;
  margin-bottom: 1rem;
  margin-top: clamp(2rem, 12vw, 6rem);
}

.back .nav {
  grid-column: 3 / 5;
  grid-row: 6 / 7;
  padding: 0 0 1rem 1rem;
}

@media (max-width: 799px) {
  .back .nav {
    grid-column: 2 / 3;
    padding-left: 0;
  }
}

@media (max-width: 479px) {
  .back .image {
    grid-row: 3 / 8;
  }
  .back .title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: right;
  }
  .back .subtitle {
    grid-row: 2 / 3;
    margin-top: 2rem;
  }
  .back .desc {
    grid-row: 3 / 6;
  }
}
