.front {
  /* display: grid; */
  /* grid-template-columns: auto 1fr auto 1fr; */
  grid-template-rows: 2rem 5rem auto 1fr auto 1rem 2rem;
  /* max-width: 1280px; */
  /* width: clamp(100%, 100vw, 1280px); */
  /* width: min(100%, 1280px); */
}

.front .image {
  grid-row: 2 / 7;
}

.front .rule-right {
  /* border-right: var(--rule); */
  grid-column: 2 / 3;
  grid-row: 5 / 8;
}
/* .front .rule-top {
  border-top: var(--rule);
  grid-column: 2 / 4;
  grid-row: 6 / 7;
} */

.front .title {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  padding-left: 1rem;
}
.front .subtitle {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  margin-top: clamp(2rem, 12vw, 6rem);
  padding-left: 1rem;
}

.front .desc {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 400;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  hyphens: auto;
  max-width: 40vw;
  padding: 0 1rem 1rem;
}

@media (max-width: 799px) {
  .front {
    grid-template-columns: auto 1fr;
  }
  .front .rule-right {
    height: 0;
    width: 0;
  }
  .front .rule-top {
    grid-column: 2 / 3;
  }
  .front .title {
    grid-column: 2 / 3;
    padding-left: 0;
  }
  .front .subtitle {
    grid-column: 2 / 3;
    padding-left: 0;
  }
  .front .desc {
    grid-column: 2 / 3;
    padding-left: 0;
    max-width: none;
  }
}

@media (max-width: 479px) {
  .front .image {
    grid-row: 3 / 7;
  }
  .front .title {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    text-align: right;
  }
  .front .subtitle {
    grid-row: 2 / 3;
    margin-top: 2rem;
  }
  .front .desc {
    grid-row: 4 / 6;
  }
}
