:root {
  --primary-color: 27, 100%, 60%;
  --primary-dark: 27, 80%, 40%;
  --secondary-color: 189, 100%, 35%;
  --secondary-light: 189, 100%, 60%;
  --text-color: hsl(27, 5%, 10%);
  --bg-color: hsla(var(--primary-color), 0.5);
}

body {
  /* align-items: center; */
  background-color: hsl(var(--primary-color));
  color: var(--text-color);
  /* display: flex; */
  /* flex-direction: column; */
  font-family: 'SofiaSans', system-ui, -apple-system, sans-serif;
  padding: 0;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

section {
  height: 100vh;
  margin-inline: auto;
  scroll-snap-align: start;
  /* scroll-snap-stop: always; */
}

.image {
  background: linear-gradient(120deg, cyan, slategrey, lightgreen);
  /* height: auto; */
  margin-right: 1rem;
  /* width: 400px; */
  width: clamp(160px, 45vw, 400px);
}

h1 {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
h4 {
  font-size: 1.125rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.icons {
  align-items: center;
  background-color: whitesmoke;
  display: flex;
  gap: 1rem;
  margin: 0 0 1rem 1rem;
  padding-left: 2rem;
  padding-block: 2px;
}

.button {
  border: 6px solid hsl(var(--primary-color));
  border-radius: 22px;
}
.button:hover {
  /* background-color: hsl(var(--primary-dark)); */
  border: 6px solid hsl(var(--secondary-color));
  /* box-shadow: 0 0 0 4 blue; */
}
.button:active {
  border: 6px solid hsl(var(--primary-dark));
}

.nav-icon {
  /* --stroke-color: hsl(var(--primary-color)); */
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: center;
  width: 44px;
}
