:root {
  --primary-color: 27, 100%, 60%;
  --primary-dark: 27, 80%, 40%;
  --secondary-color: 189, 100%, 35%;
  --secondary-light: 189, 100%, 60%;
  --text-color: hsl(27, 5%, 10%);
  --rule: 2px solid var(--text-color);
}

body {
  background-color: hsl(var(--primary-color));
  color: var(--text-color);
  font-family: 'SofiaSans', system-ui, sans-serif;
  padding: 0;
}

main {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y proximity;
}

section {
  height: 100vh;
  margin-inline: auto;
  scroll-snap-align: start;
}

.section {
  display: grid;
  grid-template-columns: auto 1fr auto 1fr;
  width: min(100%, 1280px);
}

.image {
  background: linear-gradient(120deg, cyan, slategrey, lightgreen);
  height: auto;
  margin-right: 1rem;
  width: clamp(160px, 45vw, 400px);
}
.image img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.rule-right {
  border-right: var(--rule);
}
.rule-top {
  border-top: var(--rule);
  grid-column: 2 / 4;
  grid-row: 6 / 7;
}

h1 {
  font-size: clamp(1.5rem, 6vw, 3rem);
  font-weight: 700;
}
h2 {
  font-size: clamp(1rem, 4vw, 2rem);
  font-weight: 700;
}
h3 {
  font-size: 1.5rem;
  font-weight: 700;
}
h4 {
  font-size: 1.125rem;
  font-weight: 700;
}

.header {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  padding-left: 1rem;
}

.desc {
  font-size: clamp(1rem, 3vw, 1.5rem);
  font-weight: 400;
  grid-column: 3 / 4;
  grid-row: 5 / 6;
  hyphens: auto;
  max-width: 40vw;
  padding: 0 1rem 1rem;
}

.icons {
  align-items: center;
  background-color: hsla(0, 0%, 96%, 0.96);
  display: flex;
  gap: 1rem;
  padding-left: 2rem;
  padding-block: 4px;
}

.button {
  border: 6px solid hsl(var(--primary-color));
  border-radius: 22px;
}
.button:hover {
  border: 6px solid hsl(var(--secondary-color));
}
.button:active {
  border: 6px solid hsl(var(--primary-dark));
}

.nav-icon {
  align-items: center;
  display: flex;
  height: 44px;
  justify-content: center;
  width: 44px;
}

@media (max-width: 799px) {
  .section {
    grid-template-columns: auto 1fr;
  }
  .rule-right {
    height: 0;
    width: 0;
  }
  .rule-top {
    grid-column: 2 / 3;
  }
  .header {
    grid-column: 2 / 3;
    padding-left: 0;
  }
  .desc {
    grid-column: 2 / 3;
    padding-left: 0;
    max-width: none;
  }
}
@media (max-width: 479px) {
  .icons {
    padding-left: 1rem;
  }
}
@media (max-width: 449px) {
  h4 {
    font-size: 1rem;
  }
}
@media (max-width: 399px) {
  .icons {
    gap: 0.5rem;
    padding-left: 0.5rem;
  }
}
